body {
  font-family: 'Raleway', sans-serif;
}

.App {
  text-align: center;
}

.App-title {
  font-weight: 800;
  font-size: 50px;
  padding-top: 10px;
}

.buttons-container {
  padding-top: 20px;
  width: 86%;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 180px;
}

.quote-container {
  background-color: #422ED4;
  width: 86%;
  margin: 0 auto;
  border-radius: 20px;
  height: 160px;
  text-align: start;
}

.quote-on-screen {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  padding: 20px;
}

.chuck-image {
  position: absolute;
  top: 534px;
  right: 189px;
  z-index: -1;
}